<div class="smalleditor">
  <div class="smalleditor-toolbar" style="top: {{ position.top }}px; left: {{ position.left }}px" ng-class="{ 'smalleditor-toolbar--show': showToolbar, 'smalleditor-toolbar--bottom': position.below }">
    <div class="se-toolbar-inner">
      <ul class="se-main-toolbar">
        <li class="se-li" ng-show="buttons.b">
          <button type="button" ng-click="SimpleAction('bold')" class="se-button se-button--bold" ng-class="{ 'se-button--active': styles.b }">
            <span ng-class="{'glyphicon glyphicon-bold': iconTheme == 'bootstrap'}"><span ng-show='!iconTheme'><b>B</b></span></span>
          </button>
        </li>
        <li class="se-li" ng-show="buttons.i">
          <button type="button" ng-click="SimpleAction('italic')" class="se-button se-button--italic" ng-class="{ 'se-button--active': styles.i }">
            <span ng-class="{'glyphicon glyphicon-italic': iconTheme == 'bootstrap'}"><span ng-show='!iconTheme'><b><i>I</i></b></span></span>
          </button>
        </li>
        <li class="se-li" ng-show="buttons.u">
          <button type="button" ng-click="SimpleAction('underline')" class="se-button se-button--underline" ng-class="{ 'se-button--active': styles.u }">
            <b><u>U</u></b>
          </button>
        </li>
        <li class="se-li" ng-show="buttons.h1">
          <button type="button" ng-click="SimpleAction('formatBlock', styles.h1 ? 'p' : 'h1')" class="se-button se-button--h1" ng-class="{ 'se-button--active': styles.h1 }">
            <b>H1</b>
          </button>
        </li>
        <li class="se-li" ng-show="buttons.h2">
          <button type="button" ng-click="SimpleAction('formatBlock', styles.h2 ? 'p' : 'h2')" class="se-button se-button--h2" ng-class="{ 'se-button--active': styles.h2 }">
            <b>H2</b>
          </button>
        </li>
        <li class="se-li" ng-show="buttons.blockquote">
          <button type="button" ng-click="SimpleAction('formatBlock', styles.blockquote ? 'p' : 'blockquote')" class="se-button se-button--blockquote" ng-class="{ 'se-button--active': styles.blockquote }">
            <b>"</b>
          </button>
        </li>
      </ul>
    </div>
    <div class="se-down-arrow-clip">
      <span class="se-down-arrow"></span>
    </div>
  </div>
  <div class="smalleditor-content"
    contenteditable='true'
    ng-class="{'smalleditor-placeholder': showPlaceholder}"
    data-placeholder="{{ placeholder }}"
    ng-mouseup="checkSelection($event)"
    ng-blur="_ph_activate($event); checkSelection($event)"
    ng-keyup="checkSelection($event)"
    ng-paste="_ph_deactivate($event); handlePaste($event)"
    ng-keypress="_ph_deactivate($event)">
  </div>
</div>
